# .env.example
# Copy this file to .env and fill in the values.

# -- Next.js --
# The environment your application is running in. (e.g. 'development', 'production')
NODE_ENV=development

# -- Server --
# The port the server will run on.
PORT=3001
# The host the server will bind to.
HOST=127.0.0.1

# -- Authentication --
# A secret key for NextAuth.js. Generate one with `openssl rand -hex 32`
NEXTAUTH_SECRET=
# The base URL of your application.
NEXTAUTH_URL=http://127.0.0.1:3001
# An alternative base URL of your application.
BASE_URL=http://127.0.0.1:3001

# -- Spotify API --
# Your Spotify application's Client ID.
SPOTIFY_CLIENT_ID=
# Your Spotify application's Client Secret.
SPOTIFY_CLIENT_SECRET=
# The callback URL for Spotify authentication.
SPOTIFY_CALLBACK_URL=http://127.0.0.1:3001/api/auth/callback/spotify

# -- Internal API --
# A secret for internal token delivery.
INTERNAL_TOKEN_DELIVERY_SECRET=

# -- Debugging --
# Set to 'true' or '1' to enable Spotify debugging.
SPOTIFY_DEBUG=false

# -- CI/CD --
# Set to 'true' in a CI environment.
CI=false

# -- Google Docs --
# The URL of the public Google Doc to be parsed for workout data.
GOOGLE_DOC_WORKOUT_URL="https://docs.google.com/document/d/e/2PACX-1vTev5AMiHYi2Jkg9x6zRQoiJ_o2X_wZMqAXVpwgjlSqzlcXelxSc7psjE8n3N-ghzXMFtnv51nc2fJZ/pub?embedded=true"
# Feature Flag for Workout Table
NEXT_PUBLIC_USE_NATIVE_TABLE=false

# -- Client-side Configuration --
# Optional: Override the default base URL for API requests. Defaults to the current origin. (e.g., 'https://your-api.com', do NOT include '/api')
NEXT_PUBLIC_API_URL=
# Optional: Override the default base URL for WebSocket connections. Defaults to the current origin. (e.g., 'https://your-websocket-host.com')
NEXT_PUBLIC_WS_URL=
