# Enable bundle analyzer
ANALYZE=false

# Force users to use pnpm instead of npm
# This prevents accidental creation of package-lock.json
engine-strict=true

# Increase resilience against transient registry errors
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
