# Enable bundle analyzer
ANALYZE=false

# Force users to use pnpm instead of npm
# This prevents accidental creation of package-lock.json
engine-strict=true

# CI stability settings
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
