@font-face {
    font-family: "LED";
    src: url("/static/assets/digital-7-mono.ttf");
}

#tabata{
    background-color: black;
}
#tabatatime{
    color:white
}
.hidden {
    display: none;
}

.card-columns {
    column-count: 3;
  }
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.time {
    text-align: center;
    color: red;
    font-family: "LED";
}

#status_text{
    text-align: center;
    color: white;
    font-size: 6vw;
}


