@font-face {
    font-family: "LED";
    src: url("/static/assets/digital-7-mono.ttf");
}

#tabata{
    background-color: black;
}
#tabatatime{
    color:white
}
.hidden {
    display: none;
}

.card-columns {
      @include media-breakpoint-only {
          column-count: 2;
      }

    column-count: 3;
  }
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

#tabatatime  p{
    display:inline;
    font-size: 2rem;
    font-weight:100;
    line-height:1.2;

}
.time {
    text-align: center;
    color: red;
    font-family: "LED";
    font-size: 15vw;
    #margin-top:-3vw;
    line-height:80%;

    @include media-breakpoint-only {
        font-size: 6rem;
        margin-top:0;
    }
}

.navbuttons{
    display:inline;
    width:30%;
}
#status_text{
    text-align: center;
    color: white;
    font-size: 6vw;
}


