[Unit]
Description=GitHub Actions Runner for hrm
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=300s
Restart=always
ExecStartPre=-/usr/bin/docker stop %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run --rm --name %p \
  --env-file /etc/hrm-actions-runner/.env.runner \
  hrm-actions-runner
ExecStop=/usr/bin/docker stop %p

[Install]
WantedBy=multi-user.target
